<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sym-test App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.6/angular-resource.min.js"></script>
        <script src="/js/build/main.js"></script>
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container" ng-app="symTestApp" ng-controller="searchController">
            <div class="alert alert-danger" ng-show="error">
                {{ error || 'its the end of the world as we know it'}}
            </div>
            <div class="panel panel-default search-panel">
                <div class="panel-heading">
                    <div >
                        <div class="col-md-6 col-md-offset-3 form-group">
                            <input ng-hide="hidden" class="form-control" type ="text" placeholder="start typing to search..."  ng-model="searchTerm"  />
                        </div>
                        <div class="col-md-1 col-md-offset-2 mid-align">
                            <a ng-click="toggle()">{{ !hidden ? 'Close' : 'Open'}}</a>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <div class="panel-body" ng-hide="hidden">
                    <h5>People </h5>
                    <table class="table">
                        <tbody>
                            <tr ><td ng-hide="people.length"><h3>No results Found</h3></td></tr>
                            <tr ng-repeat="p in people" st-person person="p" index="$index"></tr>
                        </tbody>
                    </table>

                    <h5>Organizations </h5>
                    <table class="table">
                        <tbody>
                            <tr ><td ng-hide="orgs.length"><h3>No results Found</h3></td></tr>
                            <tr ng-repeat="o in orgs" st-org org="o" index="$index"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>